#headline::after {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: solid 1px;
  left: 0;
  right: 0;
}

@media (max-width: 500px) {
  #headline {
    white-space: normal !important;
  }
}
